* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: linear-gradient(135deg, plum, rgb(100, 202, 236));
    margin: 0 5%;
    min-height: 100vh;
}

h1 {
    margin-top: 5%;
    letter-spacing: 2.5;
    font-weight: 900;
    font-family: sans-serif;
    margin-left: 10px;
}

#new-note {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    background: linear-gradient(blueviolet, #444444ea);
    color: whitesmoke;
    font-family: sans-serif;
    letter-spacing: 1.1;
    font-weight: 600;
}

.note-area {
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    resize: none;
    padding: 15px 15px;
    width: 90em;
    height: 8em;
}

.note-area:focus {
    outline: 0;
}


.delete {
    position: relative;
    right: 5%;
    bottom: 8px;
    cursor: pointer;
}

@media screen and (max-width:500px) and (min-width:0) {
    .note-area {
        width: 25em;
        height: 3.5em;
    }

    .delete {
        font-size: smaller;
        right: 15%;
    }
}

/* cols="75" rows="7" */
@media screen and (max-width:900px) and (min-width: 501px) {
    .note-area {
        width: 45em;
        height: 6em;
    }

    .delete {
        right: 10%;
    }


}